@namespace MudBlazor.Extensions.Internal
<div class="mud-editor-picker d-flex">
	<MudColorPicker @ref="_picker" @bind-Text="Value"/>
	<MudIconButton Class="pa-0" Icon="@_fontIcon" Size="Size.Small" OnClick="Open" aria-label="color" Style="@_fontStyle"></MudIconButton>
</div>

@code {

	[Parameter]
	public bool Background
	{
		get => _background;
		set
		{
			_background = value;
			_fontIcon = value ? Icons.Filled.FontDownload : Icons.TwoTone.FormatColorText;
		}
	}

	[Parameter]
	public string? Value
	{
		get => _value;
		set
		{
			_value = value;
			_fontStyle = $"color:{Value}";
		}
	}

	private string? _value;
	private bool _background = false;
	private MudColorPicker? _picker;
	private string? _fontStyle;
	private string? _fontIcon = Icons.TwoTone.FormatColorText;

	private void Open()
	{
		_picker!.Open();
	}

}